@media (min-width:1200px ) and (max-width: 2000px){
    .main .aboutus .image{
        padding-left: 0;
      }
      .main .aboutus .content{
        padding-right: 0;
      }
      .main .brand a{
        flex-grow: 1;
      }
      .main .client .container{
        padding-left: 0;
        padding-right: 0;
      }
      .main .client-slide .box {
        display: flex;
        height: 26vw;
    }
      
}
@media (min-width:1050px ) and (max-width: 1199px){
  .main .client-slide .muti-slickslide .slick-dots {
    bottom: 18%;
}
}
@media (min-width:992px ) and (max-width: 1199px){
  .header .image-banner {
    padding-top: 5.2%;
  }
.header .header-nav{
  top: 20%;
  
}
.header .header-title p:first-child{
  font-size: 40px;
  line-height: 49px;
}
.header .header-title p:nth-child(2) {
  font-size: 15px;
  line-height: 22px;
}
.header .header-title {
  top: 34%;
}
.header .header-title a:first-child{
  padding: 10px 45px;
}
.header .header-title a:nth-child(2){
  padding: 10px;
}
  .header .top-bar .contact-top{
    margin-right: 1%;
  }
  .header .header-title p:first-child {
    font-size: 40px;
    line-height: 50px;
}
    .main .brand a{
        flex-grow: 1;
      }
      .main .aboutus {
        padding: 5vw 0;
    }
   
      .main .aboutus .content{
        padding-left: 30px;
      }
      .main .aboutus .content .auth, .main .aboutus .content .title{
        padding-bottom: 8px;
      }
      .main .aboutus .content p {
        font-size: 15px;
      }
      .main .aboutus .content p:last-child {
        padding-top: 8px;
    }
    .main .aboutus .image .note{
      width: 26vw;
    }
    .main .client-slide .ngoackep{
      left: -3vw;
    }
    .main .client-slide .ngoackep img{
      width: 76%;
    }
    .main .client-slide .content{
      font-size: 15px;
      padding-left: 20px;
    }
    .main .client-slide .muti-slickslide .slick-dots{
      bottom: 5%;
    }
    .main .client-slide .box {
      height: 28vw;
  }
  .main .news {
    padding: 4vw 0;
}
.main .news .box-news .box-item .content {
  padding: 5% 5% 9%;
}
.main .news .box-news .box-item .content p:first-child{
  font-size: 18px;
}
.main .client .client-slide .info{
  width: 18vw;
}
.footer .top {
  padding: 4vw 0;
}      
      
    

}
@media (min-width:768px ) and (max-width: 991px){
  .header .header-top .top-bar .shape{
    display: none;
  }
  .header .image-banner {
    padding-top: 90px;
  }
  .header .header-top .contact-box .name{
    display: none;
  }
  .header .header-top .contact-box{
    padding-right: 15px;
  }
  .header .header-top .contact-box .info{
    font-size: 10px;
  }
  .header .header-top .top-bar .header-logo p{
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0em;
  }
  .header .header-nav {
    top: 50px;
    border: none;
  }
  .header .header-top .top-bar .header-logo {
    right: initial;
    left: 0;
  }
  .header .header-top .top-bar .header-logo img {
    max-width: 71%;
    padding-left: 20px;
    /* margin: auto; */
}
  .header .header-nav .menu1 li a{
    color: #265bc5;
  }
  .header .header-nav .menu1 ul {
    justify-content: center ;
    padding-left: 20%;
  }
  .header .header-nav .menu1 li {
    margin: 0 ;
    margin-left: 15px;

  }
  .header .header-nav .menu1 li a::after{
    background-color: red;
  }
  .header .header-nav .menu1 li .active::after{
    background-color: red;
  }
  .header .header-nav .menu1 li a:hover {
    color: red;
}
  .header .header-nav .menu1 li .active{
    color: red;
  }
  .header .header-nav .menu1 li a {
    padding: 0px 5px 11px;
  }
  .header .header-title p:first-child{
    font-size: 40px;
    line-height: 49px;
  }
  .header .header-title p:nth-child(2) {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    padding: 15px 0 25px 0;
  }
  .header .header-title {
    top: 30%;
  }
  .header .header-title .d-flex{
    margin: auto;
  }
  .header .header-title a:first-child{
    padding: 7px 40px;
  }
  .header .header-title a:nth-child(2){
    padding: 7px;
  }
    .header .top-bar .contact-top{
      margin-right: 1%;
      justify-content: flex-end;
    }
    .header .header-title p:first-child {
      text-align: center;
      font-size: 4vw;
      line-height: 45px;
  }
  .header .header-bottom img{
    width: 8%;
  }
  .main .aboutus .image .note{
    width: 41vw;
  }
  .main .aboutus .image .note p {
    font-size: 2.38vw;
    line-height: 28px;
  }
  .main .aboutus .content .view-more{
    margin: auto;
  }
  .main .aboutus .content .auth, .main .aboutus .content .title{
    text-align: center;
    padding-bottom: 10px;
  }
  .main .aboutus .content{
    padding: 10px;
  }
  .main .aboutus .content{
    padding-top: 45px;
  }
  .main .services .icon img {
    width: 31%;
  }
  .main .news .box-news .box-item .content {
    padding: 15px 5% 20px;
  }
  .box-item{
    margin-bottom: 25px;
    border: rgba(238, 238, 238, 0.568) solid 0.05px;
  }
  .main .news .box-news .box-item .content p:first-child{
    font-size: 24px;
      line-height: 31px;
  }
  .main .news .box-news .box-item .content p:nth-child(2){
    font-size: 16px;
    line-height: 21px;
  }
  .main .news .view-more {
    padding-top: 2%;
  }
  .main .news .title p:last-child{
    padding-bottom: 4%;
  }
  .main .client-slide .box{
    flex-direction: column;
  }
  .slick-slide img {
    margin-bottom: 30px;
  }
  .main .client .client-slide .info {
    bottom: -2vw;
    padding: 2vw;
    width: 34vw;
  }
  .main .client .client-slide .info p{
    font-size: 18px;
  }
  .main .client .client-slide .info p:nth-child(2) {
    font-size: 14px;
    line-height: 22px;
  }
  .main .client-slide .content p{
    font-size: 16px;

  }
  .main .client-slide .ngoackep {
    left: -5vw;
}
  .main .client-slide .muti-slickslide .slick-dots{
    bottom: -20px;
  }
  .main .client-slide .muti-slickslide .slick-dots{
    position: static;
    margin-top: 15px;
  }
  .main .contact .container {
    flex-direction: column;
  }
  .main .contact .container .info .col-md-6{
    padding: 10px 20px;
  }
  .main .contact .container .info {
    padding: 0 30px;
  }
  .main .contact .title{
    width: 100%;
  }
  .footer .bottom img {
    margin: 7px 17px;
  }
  .footer .top .company img{
    display: block;
    margin: auto;
    text-align: center;
  }
  .footer .top .company p:first-child{
    font-size: 18px;
    padding: 15px;
    text-align: center;
  }
  .footer .top .company p:last-child{
    font-size: 16px;
  }
  .footer .top .register p:nth-child(2){
    font-size: 16px;
    padding: 15px 0 15px;
  }
  .footer .top .register, .footer .top .category {
    padding-top: 2vw;
  }
  .footer .top .category ul{
    padding-top: 12px;
  }
  .footer .top {
    padding: 3vw 0;
}
}
@media (max-width: 767px){
  .header .header-top .top-bar .shape{
    display: none;
  }
  .header-banner{
    background: url(../image/banner.png) no-repeat ;
    background-size: cover;
  }
  .header .header-top {
    height: 22%;
  }
  .header .image-banner {
    padding-top: 90px;
    display: none;
  }
  .header .top-bar .contact-top{
    margin-right: 1%;
    justify-content: flex-end;
  }
  .header .header-top .contact-box .name{
    display: none;
  }
  .header .header-top .contact-box .info{
    font-size: 10px;
  }
  .header .header-nav {
    display: block;
    top: 92px;
    padding-bottom: 0;
    border: none;
    z-index: 99;
  }
  .header .header-nav .menu1{
    display: none;
  }
  .header .header-nav .menu-mobile{
    background-color: #232323;
    display: block;
  }
  .header .header-nav .menu-mobile ul {
    display: block;
    padding: 15px 20%;
}
.header .header-nav .menu-mobile ul li{
  padding: 16px 0;
  border-bottom: solid 1px #8d8d8d;
}
.header .header-nav .menu-mobile ul li:last-child{
  border: none;
}
.header .header-nav .menu-mobile ul li a{
  padding: 16px 0;
  text-decoration: none;
  color: #aaaaaa;
}
.header .header-nav .menu-mobile .icon-contact{
  display: flex;
}
.header .header-nav .menu-mobile .icon-contact .item{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border: solid 0.5px #8d8d8d;
}
  .header .header-top .top-bar .header-logo {
    right: inherit;
    left: 0;
  }
  .header .header-top .top-bar .header-logo img {
    max-width: 60%;
    /* margin: auto; */
  }
  .header .header-top .contact-box {
    padding-right: 15px;
  }
  .header .header-top .top-bar .header-logo p {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0em;
  }
  .header .header-title p:nth-child(2) {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    padding: 10px 0 15px 0;
  }
  .header .header-title {
    position: static;
    padding-top: 126px;
    padding-bottom: 42px;
  }
  .header .header-title .d-flex{
    margin: auto;
  }
  .header .header-title a:first-child{
    padding: 7px 40px;
  }
  .header .header-title a:nth-child(2){
    padding: 7px;
  }
    .header .top-bar .contact-top{
      margin-right: 0;
    }
    .header .header-title p:first-child {
      text-align: center;
      font-size: 3.5vw;
      line-height: 35px;
  }
  .header .header-bottom img {
    width: 7%;
}
  .main .aboutus .image .note{
    width: 41vw;
  }
  .main .aboutus .image .note p {
    font-size: 2.38vw;
    line-height: 28px;
  }
  .main .aboutus .content .auth, .main .aboutus .content .title{
    text-align: center;
    padding-bottom: 10px;
  }
  .main .aboutus .content{
    padding: 10px;
  }
  .main .aboutus .content{
    padding-top: 45px;
  }
  .main .aboutus .content .view-more {
    margin: auto;
}
  .main .services .icon img {
    width: 31%;
  }
  .main .news .box-news .box-item .content {
    padding: 15px 5% 20px;
  }
  .box-item{
    margin-bottom: 25px;
    border: rgba(238, 238, 238, 0.568) solid 0.05px;
  }
  .main .news .box-news .box-item .content p:first-child{
    font-size: 24px;
      line-height: 31px;
  }
  .main .news .box-news .box-item .content p:nth-child(2){
    font-size: 15px;
    line-height: 21px;
  }
  .main .news .view-more {
    padding-top: 2%;
  }
  .main .news .title p:last-child{
    padding-bottom: 4%;
  }
  .main .client-slide .box{
    flex-direction: column;
  }
  .slick-slide img {
    margin-bottom: 30px;
  }
  .main .client-slide .muti-slickslide .slick-dots{
    position: static;
    margin-top: 15px;
  }
  .main .services .box{
    padding: 10px 50px 40px;
  }
  .main .client .client-slide .info {
    bottom: -2vw;
    padding: 2vw;
    width: 39vw;
  }
  .main .client .client-slide .info p{
    font-size: 18px;
  }
  .main .client .client-slide .info p:nth-child(2) {
    font-size: 14px;
    line-height: 22px;
  }
  .main .client-slide .content p{
    font-size: 16px;

  }
  .main .client .client-slide .info p {
    font-size: 20px;
}
.main .client .client-slide .info p:nth-child(2) {
  font-size: 16px;
}
  .main .client-slide .ngoackep {
    left: -5vw;
}
  .main .client-slide .muti-slickslide .slick-dots{
    bottom: -20px;
  }
  .main .contact .container {
    flex-direction: column;
  }
  .main .contact .container .info .col-md-6{
    padding: 10px 20px;
  }
  .main .contact .container .info {
    padding: 0 50px;
  }
  .main .contact .title{
    width: 100%;
  }
  .footer .bottom img {
    margin: 7px 17px;
  }
  .footer .top .company img{
    display: block;
    margin: auto;
    text-align: center;
  }
  .footer .top .company p:first-child{
    font-size: 18px;
    padding: 15px;
    text-align: center;
  }
  .footer .top .company p:last-child{
    font-size: 16px;
  }
  .footer .top .register p:nth-child(2){
    font-size: 16px;
    padding: 15px 0 15px;
  }
  .footer .top .register, .footer .top .category {
    padding-top: 2vw;
  }
  .footer .top .category ul{
    padding-top: 12px;
  }
  .footer .top {
    padding: 3vw 0;
}
.footer .top .category ul {
  display: flex;
  /* display: inline-block; */
  justify-content: space-around;
}
.footer .top .register form input{
  padding: 8px 10px;
  
}
.footer .top .register form {
  display: flex;
  /* padding-bottom: 20px; */
  padding: 10px 0;
}
.footer .top .register form button{
  padding: 5px 19px;
}
.footer .top .register .map{
  display: block;
  margin: auto;
}
.main .client-slide .ngoackep {
  left: -3vw;
}
.main .client-slide .ngoackep img{
  width: 57%;
}
.main .aboutus .content{
  padding-left: 15px;
}
.main .aboutus .image .note p {
  font-size: 20px;
  line-height: 28px;
}
.main .aboutus .image .note img {
  width: 8.5vw;
}
.main .services .box p{
  font-size: 15px;
}
.header .header-top .icon-menu{
  display: block;
  position: relative;
}
.header .header-top .icon-menu .icon{
  background: #FFF;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 20px;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #265bc5;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  background-color: red;
  transition: .8s;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0; background-color: red;}

.change .bar3 {
  background-color: red;
  transition: .8s;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
}
@media (max-width: 703px){
  .header .header-top {
    height: 24%;
}
.header .header-bottom .down img {
  width: 2.5%;
  padding-top: 5px;
}
}

@media (max-width: 580px){
  .header .header-bottom img {
    width: 10%;
}
  .main .services{
    background: none;
  }
  .header .header-title p:first-child{
    font-size: 26px;
  }
  .header .header-top .contact-box .info {
    display: none;
}
.header .header-top {
  height: 22%;
}
.header .header-top .top-bar .header-logo {
  left: 25px;
}
  .main .client .client-slide .info {
    width: 50vw;
    right: 3vw;
}
.main .client-slide .content{
  padding-left: 5px;
}
  .footer .top .category ul {
    display: flow-root;
    text-align: center;
    /* display: inline-block; */
  }
  .footer .top .category ul li {
    margin: 10px 0;
    display: inline-block;
    /* margin: auto; */
    /* justify-content: space-around; */
  }
  .footer .top .category p, .footer .top .register p:first-child {
    text-align: center;
}
.footer .top .register .map{
  display: block;
  margin: auto;
}
.main .client-slide .muti-slickslide .slick-dots {
  bottom: -13px;
}
.footer .top .register form {
  display: flex;
  /* padding-bottom: 20px; */
  padding: 10px 0px;
}
.main .client-slide .ngoackep {
  left: -1vw;
  display: none;
}
.main .aboutus .image .note {
  width: 57vw;
}
.footer .top .register p:nth-child(2){
  text-align: center;
}
.main .brand{
  padding: 4% 0 1%;
  
}
.main .news .title p:last-child {
  padding-bottom: 3%;
  font-size: 39px;
}
.main .client-slide .content{
  padding-top: 0;
}
.main .client-slide .content p {
  font-size: 15px;
}
.main .contact .title p{
  font-size: 39px;
  letter-spacing: 0.2em;
}
.main .aboutus{
  padding-bottom: 4vw;
}
.main .aboutus .content p{
  font-size: 15px;
}
.main .news .box-news .box-item .content p:nth-child(2) {
  font-size: 15px;
}
.main .news .box-news .box-item .content p:first-child {
  font-size: 22px;
}
.main .aboutus {
  padding-bottom: 2vw;
}
.main .news {
  padding-top: 4vw;
}
@media (min-width: 572px) and (max-width: 575px){
  .header .header-top {
    height: 24%;
}
}

}
@media (max-width: 480px){
  .header .header-top {
    height: 21%;
}
  .main .aboutus .image .note p {
    font-size: 15px;
}
.main .aboutus .content .title{
  font-size: 37px;
}
.main .aboutus .content {
  padding-top: 35px;
}
.main .news .title p:first-child{
  padding: 15px 0 5px ;
}
.main .news .title p:last-child{
  letter-spacing: 0.1em;
  font-size: 35px;
}

}
@media (max-width: 480px){
  .header .header-top {
    height: 20%;
}
.header .header-nav{
  top: 89px;
}
.main .client .client-slide .info p {
  font-size: 17px;
}
.main .client .client-slide .info p:nth-child(2) {
  font-size: 13px;
}
}
@media (max-width: 413px){
  .header .header-top {
    height: 18%;
}
  .main .aboutus .image .note {
    width: 68vw;
}

.main .aboutus .content .auth, .main .aboutus .content .title{
  padding-bottom: 4px;
}
.main .services .box h1{
  font-size: 100px;
}
    
}
@media (max-width: 413px){
  .header .header-top .top-bar .header-logo p{
    display: none;
  }
  .header .header-top .top-bar .header-logo img{
    max-width: 100%;
  }
}
@media (max-width: 340px){
  .header .header-top {
    height: 17%;
}
}